@import "tailwindcss";

:root {
  color-scheme: light;
}

body {
  min-height: 100vh;
  margin: 0;
  background:
    radial-gradient(
      circle at top,
      rgba(56, 81, 112, 0.08),
      transparent 40%
    ),
    #e7eaf6;

  color: #222831;
  font-family:
    "Roboto",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}

nav,
footer {
  background-color: #222831;
}