@import "tailwindcss";

h1 {
  @apply text-3xl font-bold text-gray-900;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.7em;
  color:#222;
  font-weight: bold;
}

body, nav, footer { font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif; }

h2 {
  @apply text-2xl  text-gray-900;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, sans-serif;
}


.form-typography {
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
}

.form-typography input,
.form-typography select,
.form-typography textarea {
  @apply  rounded-md border border-gray-300 bg-white px-2
         text-base text-gray-800
         focus:outline-none focus:ring-2 focus:ring-gray-900
         focus:border-gray-900
         text-sm;
}


.form-typography input::placeholder,
.form-typography textarea::placeholder {
  @apply text-gray-400;
}




